{% extends 'indexNoData.html'%}
{% load static %}
{% block content %}
<head>
 <script src="{% static 'js/monitorHorizontal.js' %}"></script>
    <style>
		canvas {
			user-select: none;
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
		}
		body {
			overflow-y: scroll;
		}
		</style>
</head>



<body>
  
<div id="accelContainer" class="container">
     <!-- <button onclick="resetZoomChart()">Reset Zoom</button> -->
     <div id="xAccel" class="x">
         <canvas id="xAccelChart"></canvas>
        </div><!--xAccel-->
    </div> 
    
    
    
    <div id="resetZoomDiv" class="container">
        <button type="button" class=" btn-primary btn-lg mb-3" style="float: right;" id="resetZoom">Reset</button>
    </div> 
    <div class="col-md-8 col-12 float-left mb-8 px-0">
        <div class="col-md-9 my-2 py-1 d-flex justify-content-around" id="component-monitor-horizontal">
            {% include 'monitorHorizontal.component.html' %}
            
        </div>
        <div class="col-12 mb-3 d-inline-flex">
		<div class="card p-1 mb-3">
            <form action="{% url 'parameters-update' %}" method="post" id="id={{3}}">
                {% csrf_token%}
                <table class="table table-sm table-striped table-borderless" style="color: black;" id="tablaCuplaModelo3">
                    <thead>
                        <tr>
                            <th colspan="4" style="text-align: center; background-color: #52D5DA; color:black; border-top-right-radius: 8px; border-top-left-radius: 8px;">Datos proceso Cupla Modelo 3
                            </th>
                        </tr>
                        <tr>
                            <th>Concepto</th>
                            <th>Descripcion</th>
                            <th>Valor</th>
                            <th>Unidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>paso_de_rosca</td>
                            <td>Descripcion</td>
                            <td>
                                <input class="form-control-xs" type="number" step=0.01 value="" name="paso_de_rosca">
                            </td>
                            <td>mm/v</td>
                        </tr>
                        <tr>
                            <td>posicion_de_aprox</td>
                            <td>Descripcion</td>
                            <td>
                                <input class="form-control-xs" type="number" step=0.01 value="" name="posicion_de_aprox">
                            </td>
                            <td>mm</td>
                        </tr>
                        <tr>
                            <td>velocidad_de_aprox</td>
                            <td>Descripcion</td>
                            <td>
                                <input class="form-control-xs" type="number" step=0.01 value="" name="velocidad_de_aprox">
                            </td>
                            <td>mm/seg</td>
                        </tr>
                        <tr>
                            <td>distancia_de_roscado</td>
                            <td>Descripcion</td>
                            <td>
                                <input class="form-control-xs" type="number" step=0.01 value="" name="distancia_de_roscado">
                            </td>
                            <td>mm</td>
                        </tr>
                        <tr>
                            <td>velocidad_de_roscado</td>
                            <td>Descripcion</td>
                            <td>
                                <input class="form-control-xs" type="number" step=0.01 value="" name="velocidad_de_roscado">
                            </td>
                            <td>mm/seg</td>
                        </tr>
                        <tr>
                            <td>velocidad_de_retraccion</td>
                            <td>Descripcion</td>
                            <td>
                                <input class="form-control-xs" type="number" step=0.01 value="" name="velocidad_de_retraccion">
                            </td>
                            <td>mm/seg</td>
                        </tr>
                        <tr>
                            <td>tiempo_de_ciclo</td>
                            <td>Descripcion</td>
                            <td>
                                <input class="form-control-xs" type="number" step=0.01 value="" name="tiempo_de_ciclo">
                            </td>
                            <td>seg</td>
                        </tr>
                        <tr>
                            <td>torque_maximo_registrado</td>
                            <td>Descripcion</td>
                            <td>
                                <input class="form-control-xs" type="number" step=0.01 value="" name="torque_maximo_registrado">
                            </td>
                            <td>Nm</td>
                        </tr>
                        <tr>
                            <td>t_inicio_soluble</td>
                            <td>Descripcion</td>
                            <td>
                                <input class="form-control-xs" type="number" step=0.01 value="" name="t_inicio_soluble">
                            </td>
                            <td>seg</td>
                        </tr>
                    </tbody>
                </table>
                <input type="submit" value="" class="d-none">
            </form>
            
        </div>
        
		<div id="contenedor-continuarDetener" class="col-md-3 col-12 text-center">
		<button type="button" class="btn btn-success mb-3" style="min-width: 205px; min-height: 65px" id="continue">Continuar</button>
		<button type="button" class="btn btn-warning mb-3 detener" style="min-width: 205px; min-height: 65px" id="stop" cmd="{{ stop_all }}">Cancelar</button>
		<!--<button type="button" class="btn btn-secondary mb-3" style="min-width: 205px; min-height: 65px" id="refrescar">Refrescar grafico</button>-->	
	</div>
    <!--<div class="col-md-4 mb-2 float-left justify-content-around px-1">
        <div id="contenedor-terminal-texto" class="card col-md-12 text-left my-4 mx-auto border shadow rounded bg-white p-1" style="height: auto;">
            <div id="salidaDeTexto"></div>
        </div>
    </div>-->
	
	
</div>
<script src="{% static 'js/automatico.js' %}"></script>
<script src="{% static 'js/stopAll.js' %}"></script>
</body>
{% endblock %}
 
<!--<div class="col-md-4 mb-2 float-left justify-content-around px-1">
	<div id="contenedor-terminal-texto" class="card col-md-12 text-left my-4 mx-auto border shadow rounded bg-white p-1" style="height: auto;">
		<div id="salidaDeTexto"></div>
	</div>
</div>
<div id="component-grafico-cedencia" class="col-md-9 col-12 bg-white border shadow rounded d-inline-flex p-1"></div>