
{% load static %}
{% block content %}
<div class="container ">                                                 
    <div class="row justify-content-center"> 
        <article id="statusHead" class="bg-secondary indicadorMon">Cabezal</article>              
        <article id="statusLinealAxis" class="bg-secondary indicadorMon">Eje lineal</article>
    </div>
    <div class="row justify-content-center">
        <article id="statusLoader" class="bg-secondary indicadorMon" title="Mensaje">Carga</article>
        <article id="statusDownloader" class="bg-secondary indicadorMon">Descarga</article>
    </div>
    <div class="row justify-content-center">
        <article id="statusIndex" class="bg-secondary indicadorMon">Indexar</article>
        <article id="statusRoscado" class="bg-secondary indicadorMon">Roscado</article>
     </div>
    <div class="row justify-content-center">
        <article id="statusSafeInitial" class="bg-secondary indicadorMonSafe"><FONT SIZE=6>Initial</FONT></article>
    </div>
</div>

<div class="card bg-c-grey text-white mt-3 p-1">
    <div class="row justify-content-center mx-auto">
        <div class="col-12 h5 font-weight-bold text-center">HUSILLO</div>
    </div>
    <div class="row">   
        <div class="col-8 h6">
            <article class="text-left">RPM</article>
            <article class="text-left">Torque</article>
        </div>
        <div class="col-4 h6 text-right">
            <article id="frRPM">000.0</article>
            <article id="fTorque">000.0</article>             
        </div>
    </div> 
</div>


<div class="card bg-c-pink text-white mt-3 p-1">
    <div class="row justify-content-center mx-auto">
        <div class="col-12 h5 font-weight-bold text-center">CARGA</div>
    </div>
    <div class="row">
        <div class="col-7 h6">
            <article class="text-left">Posición [mm]</article>
            <article class="text-left">Veloc [mm/s]</article>
        </div>
        <div class="col-5 h6 text-right">
            <article id="posVertical">000.0</article>
            <article id="velVertical">000.0</article>    
        </div>
    </div>            
</div>


<div class="card bg-c-blue text-white mt-3 p-1">
    <div class="row justify-content-center mx-auto">
        <div class="col-12 h5 font-weight-bold text-center">AVANCE</div>
    </div>
    <div class="row">
        <div class="col-7 h6">
            <article class="text-left">Posición [mm]</article>
            <article class="text-left">Veloc [mm/s]</article>
        </div>
        <div class="col-5 h6 text-right">
            <article id="posHorizontal">000.0</article>
            <article id="velHorizontal">000.0</article>    
        </div>
    </div>
</div>
<script src="{% static 'js/main.js' %}"></script>
    {% endblock %}