{% load static %}
<link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/main.css' %}" rel="stylesheet">

<div class="row align-items-center d-flex justify-content-around mx-auto px-0">
    <div id="contenedorNeumatica" class="col-md-3 col-12 mb-5 card rounded p-2 mx-auto shadow-sm text-black">
        <div class="contanier-fluid">
            <div class="card-header text-center">
                <div class="col-12" style="color: black;">
                    <h4>Carga</h4>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col text-center">
                    <p style="display: inline; color: black;">Horizontal</p>
                </div>
                <div class="col text-center">
                    <button class="btn btn-primary" id="horizontalCargaOnOff"> ON/OFF </button>
                </div>
                <div class="col text-center">
                    <article class="led led-grey" id="horizontalCargaOk"></article>
                </div>
            </div>
            <hr size="100px" style="width: 98%;" color="grey">
            <div class="row mt-3">
                <div class="col text-center">
                    <p style="display: inline; color: black;">Pinza</p>
                </div>
                <div class="col text-center">
                    <button class="btn btn-primary" id="pinzaCargaOnOff"> ON/OFF </button>
                </div>
                <div class="col text-center">
                    <article class="led led-grey" id="pinzaCargaOk"></article>
                </div>
            </div>
            <hr size="100px" style="width: 98%;" color="grey">
            <div class="row mt-3">
                <div class="col text-center">
                    <p style="display: inline; color: black;">Vertical</p>
                </div>
                <div class="col text-center">
                    <button class="btn btn-primary" id="verticalCargaOnOff"> ON/OFF </button>
                </div>
                <div class="col text-center">
                    <article class="led led-grey" id="verticalCargaOk"></article>
                </div>
            </div>
            <hr size="100px" style="width: 98%;" color="grey">
            <div class="row mt-3">
                <div class="col text-center">
                    <p style="display: inline; color: black;">Giro</p>
                </div>
                <div class="col text-center">
                    <button class="btn btn-primary" id="giroCargaOnOff"> ON/OFF </button>
                </div>
                <div class="col text-center">
                    <article class="led led-grey" id="giroCargaOk"></article>
                </div>
            </div>
            
            </div>  
        </div>
        
            <div id="contenedorNeumatica" class="col-md-3 col-12 mb-5 card rounded p-2 mx-auto shadow-sm text-black">
                <div class="contanier-fluid">
                    <div class="card-header text-center">
                        <div class="col-12" style="color: black;">
                            <h4>Descarga</h4>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col text-center">
                            <p style="display: inline; color: black;">Horizontal</p>
                        </div>
                        <div class="col text-center">
                            <button class="btn btn-primary" id="horizontalDescOnOff"> ON/OFF </button>
                        </div>
                        <div class="col text-center">
                            <article class="led led-grey" id="horizontalDescOk"></article>
                        </div>
                    </div>

                    <hr size="100px" style="width: 98%;" color="grey">
                    <div class="row mt-3">
                        <div class="col text-center">
                            <p style="display: inline; color: black;">Pinza</p>
                        </div>
                        <div class="col text-center">
                            <button class="btn btn-primary" id="pinzaDescOnOff"> ON/OFF </button>
                        </div>
                        <div class="col text-center">
                            <article class="led led-grey" id="pinzaDescOk"></article>
                        </div>
                    </div>
                    <hr size="100px" style="width: 98%;" color="grey">
                    <div class="row mt-3">
                        <div class="col text-center">
                            <p style="display: inline; color: black;">Vertical Br</p>
                        </div>
                        <div class="col text-center">
                            <button class="btn btn-primary" id="verticalBrOnOff"> ON/OFF </button>
                        </div>
                        <div class="col text-center">
                            <article class="led led-grey" id="verticalBrOk"></article>
                        </div>
                    </div>
                    <hr size="100px" style="width: 98%;" color="grey">
                    <div class="row mt-3">
                        <div class="col text-center">
                            <p style="display: inline; color: black;">Giro</p>
                        </div>
                        <div class="col text-center">
                            <button class="btn btn-primary" id="giroDescOnOff"> ON/OFF </button>
                        </div>
                        <div class="col text-center">
                            <article class="led led-grey" id="giroDescOk"></article>
                        </div>
                    </div>
                    <hr size="100px" style="width: 98%;" color="grey">
                    <div class="row mt-3">
                        <div class="col text-center">
                            <p style="display: inline; color: black;">Horizon Br</p>
                        </div>
                        <div class="col text-center">
                            <button class="btn btn-primary" id="horizontalBrOnOff"> ON/OFF </button>
                        </div>
                        <div class="col text-center">
                            <article class="led led-grey" id="horizontalBrOk"></article>
                        </div>
                    </div>
                    <hr size="100px" style="width: 98%;" color="grey">
                    <div class="row mt-3">
                        <div class="col text-center">
                            <p style="display: inline; color: black;">Pinza Br</p>
                        </div>
                        <div class="col text-center">
                            <button class="btn btn-primary" id="pinzaBrOnOff"> ON/OFF </button>
                        </div>
                        <div class="col text-center">
                            <article class="led led-grey" id="pinzaBrOk"></article>
                        </div>
                    </div>
                   
                </div>  
            </div>
            <div id="contenedorNeumatica" class="col-md-3 col-12 mb-5 card rounded p-2 mx-auto shadow-sm text-black">
                <div class="contanier-fluid">
                    <div class="card-header text-center">
                        <div class="col-12" style="color: black;">
                            <h4>Cabezal</h4>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col text-center">
                            <p style="display: inline; color: black;">Clampeo</p>
                        </div>
                        <div class="col text-center">
                            <button class="btn btn-primary" id="clampeoOnOff"> ON/OFF </button>
                        </div>
                        <div class="col text-center">
                            <article class="led led-grey" id="clampeoOk"></article>
                        </div>
                    </div>
                    <hr size="100px" style="width: 98%;" color="grey">
                    <div class="row mt-3">
                        <div class="col text-center">
                            <p style="display: inline; color: black;">Boquilla 1</p>
                        </div>
                        <div class="col text-center">
                            <button class="btn btn-primary" id="boquilla1OnOff"> ON/OFF </button>
                        </div>
                        <div class="col text-center">
                            <article class="led led-grey" id="boquilla1Ok"></article>
                        </div>
                    </div>
                    <hr size="100px" style="width: 98%;" color="grey">
                    <div class="row mt-3">
                        <div class="col text-center">
                            <p style="display: inline; color: black;">Boquilla 2</p>
                        </div>
                        <div class="col text-center">
                            <button class="btn btn-primary" id="boquilla2OnOff"> ON/OFF </button>
                        </div>
                        <div class="col text-center">
                            <article class="led led-grey" id="boquilla2Ok"></article>
                        </div>
                    </div>
                    <hr size="100px" style="width: 98%;" color="grey">
                    <div class="row mt-3">
                        <div class="col text-center">
                            <p style="display: inline; color: black;">Boquilla 3</p>
                        </div>
                        <div class="col text-center">
                            <button class="btn btn-primary" id="boquilla3OnOff"> ON/OFF </button>
                        </div>
                        <div class="col text-center">
                            <article class="led led-grey" id="boquilla3Ok"></article>
                        </div>
                    </div>
                    <hr size="100px" style="width: 98%;" color="grey">
                    <div class="row mt-3">
                        <div class="col text-center">
                            <p style="display: inline; color: black;">Acopla Soluble</p>
                        </div>
                        <div class="col text-center">
                            <button class="btn btn-primary" id="acoplaSolOnOff"> ON/OFF </button>
                        </div>
                        <div class="col text-center">
                            <article class="led led-grey" id="acoplaSolOk"></article>
                        </div>
                    </div>
                    <hr size="100px" style="width: 98%;" color="grey">
                    <div class="row mt-3">
                        <div class="col text-center">
                            <p style="display: inline; color: black;">Bomba Soluble</p>
                        </div>
                        <div class="col text-center">
                            <button class="btn btn-primary" id="bombaSolOnOff"> ON/OFF </button>
                        </div>
                        <div class="col text-center">
                            <article class="led led-grey" id="bombaSolOk"></article>
                        </div>
                    </div>
                   
                </div>  
            </div>
      
        
       
<div class="col-md-2 col-12 mb-5 float-right border shadow rounded bg-white px-1 py-1">
    <div id="component-monitor"></div>
</div>
</div>