{% load static %}
<link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/main.css' %}" rel="stylesheet">

<div class="row m-auto align-items-center d-flex justify-content-around mx-auto px-0 mb-5" id="sensores">
    <div class="container-fluid col-md-3 card p-1 border shadow rounded mb-3">
        <table class="table table-sm table-striped table-borderless" id="tablaSensoresPinzasCargaDescarga">
            <thead>
                <tr>
                    <th colspan="2" style="text-align: center; background-color: #52D5DA; color:black; border-top-right-radius: 8px; border-top-left-radius: 8px;">Sensores pinzas carga/descarga</th>
                </tr>
                <tr>
                    <th>Sensor</th>
                    <th class="text-center">Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Gripper carga atras</td>
                    <td><div class="led led-grey" id="gripperLoaderBkwrd"></div></td>
                </tr>
                <tr>
                    <td>Gripper carga adelante</td>
                    <td><div class="led led-grey" id="gripperLoaderFwrd"></div></td>
                </tr>
                <tr> 
                    <td>Gripper carga pinza liberada</td>
                    <td><div class="led led-grey" id="gripperLoaderReleased"></div></td>
                </tr>
                <tr>
                    <td>Gripper carga pinza accionada</td>
                    <td><div class="led led-grey" id="gripperLoaderActuated"></div></td>
                </tr>
                <tr>
                    <td>Gripper carga con cupla</td>
                    <td><div class="led led-grey" id="gripperLoaderCupla"></div></td>
                </tr>
                <tr>
                    <td>Gripper descarga atras</td>
                    <td><div class="led led-grey" id="gripperDownloadBkwrd"></div></td>
                </tr>
                <tr>
                    <td>Gripper descarga adelante</td>
                    <td><div class="led led-grey" id="gripperDownloadFwrd"></div></td>
                </tr>
                <tr>
                    <td>Gripper descarga pinza liberada</td>
                    <td><div class="led led-grey" id="gripperDownloadReleased"></div></td>
                </tr>
                <tr>
                    <td>Gripper descarga pinza accionada</td>
                    <td><div class="led led-grey" id="gripperDownloadActuated"></div></td>
                </tr>
                <tr>
                    <td>Gripper descarga pinza con cupla</td>
                    <td><div class="led led-grey" id="gripperDownloadCupla"></div></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container-fluid col-md-3 card p-1 border shadow rounded mb-3">
        <table class="table table-sm table-striped table-borderless" id="tablaSensoresServoMotores">
            <thead>
                <tr>
                    <th colspan="2" style="text-align: center; background-color: #52D5DA; color:black; border-top-right-radius: 8px; border-top-left-radius: 8px;">Sensores Servo Motores</th>
                </tr>
                <tr>
                    <th>Sensor</th>
                    <th class="text-center">Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Eje lineal limite Forward</td>
                    <td><div class="led led-grey" id="axisLinearFwrd"></div></td>
                </tr>
                <tr>
                    <td>Eje lineal limite Reverse</td>
                    <td><div class="led led-grey" id="axisLinearRvrse"></div></td>
                </tr>
                <tr>
                    <td>Eje lineal Homing</td>
                    <td><div class="led led-grey" id="axisLinearHom"></div></td>
                </tr>
                <tr>
                    <td>Eje Rotativo Homing</td>
                    <td><div class="led led-grey" id="axisRotativeHom"></div></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container-fluid col-md-3 card p-1 border shadow rounded mb-3">
        <table class="table table-sm table-striped table-borderless" id="tablaSensoresVerticalGiroCarga">
            <thead>
                <tr>
                    <th colspan="2" style="text-align: center; background-color: #52D5DA; color:black; border-top-right-radius: 8px; border-top-left-radius: 8px;">Sensores vertical y giro de carga</th>
                </tr>
                <tr>
                    <th>Sensor</th>
                    <th class="text-center">Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Vertical carga arriba</td>
                    <td><div class="led led-grey" id="verticalLoadUp"></div></td>
                </tr>
                <tr>
                    <td>Vertical carga abajo</td>
                    <td><div class="led led-grey" id="verticalLoadDown"></div></td>
                </tr>
                <tr> 
                    <td>Giro carga arriba</td>
                    <td><div class="led led-grey" id="turnLoadUp"></div></td>
                </tr>
                <tr>
                    <td>Giro carga abajo</td>
                    <td><div class="led led-grey" id="turnLoadDown"></div></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row align-items-center d-flex justify-content-around mx-auto px-0 mb-5">
    <div class="container-fluid col-md-3 card p-1 border shadow rounded mb-3">
        <table class="table table-sm table-striped table-borderless" id="tablaSensoresGripper2Descarga">
            <thead>
                <tr>
                    <th colspan="2" style="text-align: center; background-color: #52D5DA; color:black; border-top-right-radius: 8px; border-top-left-radius: 8px;">Sensores gripper 2 descarga</th>
                </tr>
                <tr>
                    <th>Sensor</th>
                    <th class="text-center">Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Gripper 2 descarga vertical arriba</td>
                    <td><div class="led led-grey" id="gripper2VerticalDownloaderUp"></div></td>
                </tr>
                <tr>
                    <td>Gripper 2 descarga vertical abajo</td>
                    <td><div class="led led-grey" id="gripper2VerticalDownloaderDown"></div></td>
                </tr>
                <tr> 
                    <td>Gripper 2 descarga horizontal adelante</td>
                    <td><div class="led led-grey" id="gripper2HorizontalDownloaderFwrd"></div></td>
                </tr>
                <tr>
                    <td>Gripper 2 descarga horizontal atras</td>
                    <td><div class="led led-grey" id="gripper2HorizontalDownloaderBkwrd"></div></td>
                </tr>
                <tr>
                    <td>Gripper 2 descarga pinza accionada</td>
                    <td><div class="led led-grey" id="gripper2DownloaderActuated"></div></td>
                </tr>
                <tr>
                    <td>Gripper 2 descarga pinza liberada</td>
                    <td><div class="led led-grey" id="gripper2DownloaderReleased"></div></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="container-fluid col-md-3 card p-1 border shadow rounded mb-3">
        <table class="table table-sm table-striped table-borderless" id="tablaSensoresGiroDescarga">
            <thead>
                <tr>
                    <th colspan="2" style="text-align: center; background-color: #52D5DA; color:black; border-top-right-radius: 8px; border-top-left-radius: 8px;">Sensores giro descarga</th>
                </tr>
                <tr>
                    <th>Sensor</th>
                    <th class="text-center">Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Giro descarga arriba</td>
                    <td><div class="led led-grey" id="turnDownloadUp"></div></td>
                </tr>
                <tr>
                    <td>Giro descarga abajo</td>
                    <td><div class="led led-grey" id="turnDownloadDown"></div></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    <div class="row justify-content-center container-fluid">
        <div class="col-md-12 text-right justify-content-center">
            <a type="button" class="btn btn-secondary btn-lg" href="#/home">Volver</a>
        </div>
    </div>
