<div class="container">                                                 
    <div class="row justify-content-center">  <!--cambiar ids-->
        <article id="statusVerticalAxis" class="bg-secondary indicadorMon">Cabezal</article>              
        <article id="statusFlatAxis" class="bg-secondary indicadorMon">Eje lineal</article>
    </div>
    <div class="row justify-content-center">
        <article id="statusTouchProbe" class="bg-secondary indicadorMon" title="Mensaje">Carga</article>
        <article id="statusStrainGauge" class="bg-secondary indicadorMon">Descarga</article>
    </div>
    <div class="row justify-content-center">
        <article id="statusTurner" class="bg-secondary indicadorMon">Condiciones Iniciales</article>
        <article id="statusBladePresence" class="bg-secondary indicadorMon">Condiciones Automatico</article>
     </div>
    <div class="row justify-content-center">
        <!--<article id="statusInitialConditions" class="bg-secondary indicadorMon">Condiciones inciales</article>-->
        <article id="statusSafeInitial" class="bg-secondary indicadorMonSafe"><FONT SIZE=6>Initial</FONT></article>
    </div>
</div>

<div class="card bg-c-grey text-white mt-3 p-1">
    <div class="row justify-content-center mx-auto">
        <div class="col-12 h5 font-weight-bold text-center">HUSILLO</div>
    </div>
    <div class="row">   
        <div class="col-8 h6">
            <article class="text-left">RPM</article>
            <article class="text-left">Torque</article>
        </div>
        <div class="col-4 h6 text-right">
            <article id="pvFuerza">000.0</article>
            <article id="pvPalpador">000.0</article>             
        </div>
    </div> 
</div>


<div class="card bg-c-pink text-white mt-3 p-1">
    <div class="row justify-content-center mx-auto">
        <div class="col-12 h5 font-weight-bold text-center">CABEZAL</div>
    </div>
    <div class="row">
        <div class="col-7 h6">
            <article class="text-left">Posición [mm]</article>
            <article class="text-left">Veloc [mm/s]</article>
        </div>
        <div class="col-5 h6 text-right">
            <article id="posVertical">000.0</article>
            <article id="velVertical">000.0</article>    
        </div>
    </div>            
</div>


<div class="card bg-c-blue text-white mt-3 p-1">
    <div class="row justify-content-center mx-auto">
        <div class="col-12 h5 font-weight-bold text-center">EJE LINEAL</div>
    </div>
    <div class="row">
        <div class="col-7 h6">
            <article class="text-left">Posición [mm]</article>
            <article class="text-left">Veloc [mm/s]</article>
        </div>
        <div class="col-5 h6 text-right">
            <article id="posHorizontal">000.0</article>
            <article id="velHorizontal">000.0</article>    
        </div>
    </div>