<div class="col-md-5 col-12 container-fluid float-left justify-content-around"> 
    <div class="card p-1 mb-3">
        <form action="" method="post" id="cuplaModelo1">
            <table class="table table-sm table-striped table-borderless" id="tablatablaCuplaModelo1">
                <thead>
                    <tr>
                        <th colspan="4" style="text-align: center; background-color: #52D5DA; color:black; border-top-right-radius: 8px; border-top-left-radius: 8px;">Datos proceso Cupla Modelo 1
                        </th>
                    </tr>
                    <tr>
                        <th>Concepto</th>
                        <th>Descripcion</th>
                        <th>Valor</th>
                        <th>Unidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>paso_de_rosca</td>
                        <td>Descripcion</td>
                        <td>
                            <input class="form-control-xs" type="number" step=0.01 value="" name="t_max_ciclo">
                        </td>
                        <td>mm/v</td>
                    </tr>
                    <tr>
                        <td>posicion_de_aprox</td>
                        <td>Descripcion</td>
                        <td>
                            <input class="form-control-xs" type="number" step=0.01 value="" name="fza_traba_cuchilla">
                        </td>
                        <td>mm</td>
                    </tr>
                    <tr>
                        <td>velocidad_de_aprox</td>
                        <td>Descripcion</td>
                        <td>
                            <input class="form-control-xs" type="number" step=0.01 value="" name="palp_tol_v_iteracion">
                        </td>
                        <td>mm/seg</td>
                    </tr>
                    <tr>
                        <td>distancia_de_roscado</td>
                        <td>Descripcion</td>
                        <td>
                            <input class="form-control-xs" type="number" step=0.01 value="" name="palp_tol_v_LOC">
                        </td>
                        <td>mm</td>
                    </tr>
                    <tr>
                        <td>velocidad_de_roscado</td>
                        <td>Descripcion</td>
                        <td>
                            <input class="form-control-xs" type="number" step=0.01 value="" name="palp_tol_v_EXP">
                        </td>
                        <td>mm/seg</td>
                    </tr>
                    <tr>
                        <td>velocidad_de_retraccion</td>
                        <td>Descripcion</td>
                        <td>
                            <input class="form-control-xs" type="number" step=0.01 value="" name="ang_tang_max">
                        </td>
                        <td>mm/seg</td>
                    </tr>
                    <tr>
                        <td>tiempo_de_ciclo</td>
                        <td>Descripcion</td>
                        <td>
                            <input class="form-control-xs" type="number" step=0.01 value="" name="z_obj_coeficiente">
                        </td>
                        <td>seg</td>
                    </tr>
                    <tr>
                        <td>torque_tolerado</td>
                        <td>Descripcion</td>
                        <td>
                            <input class="form-control-xs" type="number" step=0.01 value="" name="z_delta_factor_aplicado">
                        </td>
                        <td>Nm</td>
                    </tr>
                    <tr>
                        <td>t_inicio_soluble</td>
                        <td>Descripcion</td>
                        <td>
                            <input class="form-control-xs" type="number" step=0.01 value="" name="cedencia_cte_restada">
                        </td>
                        <td>seg</td>
                    </tr>
                    <!--<tr>
                        <td>plus_cedencia_factor_iteracion</td>
                        <td>Factor que aplica a la deformación obtenida para iniciar plus cedencia</td>
                        <td>
                            <input class="form-control-xs" type="number" step=0.001 value="" name="plus_cedencia_factor_iteracion">
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>plus_cedencia_delta_aumento</td>
                        <td>Delta que aumenta la cedencia en cada intevalo dentro de plus cendencia</td>
                        <td>
                            <input class="form-control-xs" type="number" step=0.001 value="" name="plus_cedencia_delta_aumento">
                        </td>
                        <td>mm</td>
                    </tr>
                    <tr>
                        <td>plus_cedencia_trigger</td>
                        <td>Valor de cedencia que dispara la plus cedencia</td>
                        <td>
                            <input class="form-control-xs" type="number" step=0.001 value="" name="plus_cedencia_trigger">
                        </td>
                        <td>mm</td>
                    </tr>-->
                </tbody>
            </table>
            <input type="submit" value="" class="d-none">
        </form>
    </div>


    <div class="card p-1 mb-3">
    <form action="" method="post" id="cuplaModelo2">
        <table class="table table-sm table-striped table-borderless" id="tablaCuplaModelo2">
            <thead>
                <tr>
                    <th colspan="4" style="text-align: center; background-color: #52D5DA; color:black; border-top-right-radius: 8px; border-top-left-radius: 8px;">Datos proceso Cupla Modelo 2
                    </th>
                </tr>
                <tr>
                    <th>Concepto</th>
                    <th>Descripcion</th>
                    <th>Valor</th>
                    <th>Unidad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>paso_de_rosca</td>
                    <td>Descripcion</td>
                    <td>
                        <input class="form-control-xs" type="number" step=0.01 value="" name="t_max_ciclo">
                    </td>
                    <td>mm/v</td>
                </tr>
                <tr>
                    <td>posicion_de_aprox</td>
                    <td>Descripcion</td>
                    <td>
                        <input class="form-control-xs" type="number" step=0.01 value="" name="fza_traba_cuchilla">
                    </td>
                    <td>mm</td>
                </tr>
                <tr>
                    <td>velocidad_de_aprox</td>
                    <td>Descripcion</td>
                    <td>
                        <input class="form-control-xs" type="number" step=0.01 value="" name="palp_tol_v_iteracion">
                    </td>
                    <td>mm/seg</td>
                </tr>
                <tr>
                    <td>distancia_de_roscado</td>
                    <td>Descripcion</td>
                    <td>
                        <input class="form-control-xs" type="number" step=0.01 value="" name="palp_tol_v_LOC">
                    </td>
                    <td>mm</td>
                </tr>
                <tr>
                    <td>velocidad_de_roscado</td>
                    <td>Descripcion</td>
                    <td>
                        <input class="form-control-xs" type="number" step=0.01 value="" name="palp_tol_v_EXP">
                    </td>
                    <td>mm/seg</td>
                </tr>
                <tr>
                    <td>velocidad_de_retraccion</td>
                    <td>Descripcion</td>
                    <td>
                        <input class="form-control-xs" type="number" step=0.01 value="" name="ang_tang_max">
                    </td>
                    <td>mm/seg</td>
                </tr>
                <tr>
                    <td>tiempo_de_ciclo</td>
                    <td>Descripcion</td>
                    <td>
                        <input class="form-control-xs" type="number" step=0.01 value="" name="z_obj_coeficiente">
                    </td>
                    <td>seg</td>
                </tr>
                <tr>
                    <td>torque_tolerado</td>
                    <td>Descripcion</td>
                    <td>
                        <input class="form-control-xs" type="number" step=0.01 value="" name="z_delta_factor_aplicado">
                    </td>
                    <td>Nm</td>
                </tr>
                <tr>
                    <td>t_inicio_soluble</td>
                    <td>Descripcion</td>
                    <td>
                        <input class="form-control-xs" type="number" step=0.01 value="" name="cedencia_cte_restada">
                    </td>
                    <td>seg</td>
                </tr>
                <!--<tr>
                    <td>plus_cedencia_factor_iteracion</td>
                    <td>Factor que aplica a la deformación obtenida para iniciar plus cedencia</td>
                    <td>
                        <input class="form-control-xs" type="number" step=0.001 value="" name="plus_cedencia_factor_iteracion">
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>plus_cedencia_delta_aumento</td>
                    <td>Delta que aumenta la cedencia en cada intevalo dentro de plus cendencia</td>
                    <td>
                        <input class="form-control-xs" type="number" step=0.001 value="" name="plus_cedencia_delta_aumento">
                    </td>
                    <td>mm</td>
                </tr>
                <tr>
                    <td>plus_cedencia_trigger</td>
                    <td>Valor de cedencia que dispara la plus cedencia</td>
                    <td>
                        <input class="form-control-xs" type="number" step=0.001 value="" name="plus_cedencia_trigger">
                    </td>
                    <td>mm</td>
                </tr>-->
            </tbody>
        </table>
        <input type="submit" value="" class="d-none">
    </form>
    </div>
    

<div class="card p-1 mb-3">
    <form action="" method="post" id="cuplaModelo3">
        <table class="table table-sm table-striped table-borderless" id="tablaCuplaModelo3">
            <thead>
                <tr>
                    <th colspan="4" style="text-align: center; background-color: #52D5DA; color:black; border-top-right-radius: 8px; border-top-left-radius: 8px;">Datos proceso Cupla Modelo 3
                    </th>
                </tr>
                <tr>
                    <th>Concepto</th>
                    <th>Descripcion</th>
                    <th>Valor</th>
                    <th>Unidad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>paso_de_rosca</td>
                    <td>Descripcion</td>
                    <td>
                        <input class="form-control-xs" type="number" step=0.01 value="" name="t_max_ciclo">
                    </td>
                    <td>mm/v</td>
                </tr>
                <tr>
                    <td>posicion_de_aprox</td>
                    <td>Descripcion</td>
                    <td>
                        <input class="form-control-xs" type="number" step=0.01 value="" name="fza_traba_cuchilla">
                    </td>
                    <td>mm</td>
                </tr>
                <tr>
                    <td>velocidad_de_aprox</td>
                    <td>Descripcion</td>
                    <td>
                        <input class="form-control-xs" type="number" step=0.01 value="" name="palp_tol_v_iteracion">
                    </td>
                    <td>mm/seg</td>
                </tr>
                <tr>
                    <td>distancia_de_roscado</td>
                    <td>Descripcion</td>
                    <td>
                        <input class="form-control-xs" type="number" step=0.01 value="" name="palp_tol_v_LOC">
                    </td>
                    <td>mm</td>
                </tr>
                <tr>
                    <td>velocidad_de_roscado</td>
                    <td>Descripcion</td>
                    <td>
                        <input class="form-control-xs" type="number" step=0.01 value="" name="palp_tol_v_EXP">
                    </td>
                    <td>mm/seg</td>
                </tr>
                <tr>
                    <td>velocidad_de_retraccion</td>
                    <td>Descripcion</td>
                    <td>
                        <input class="form-control-xs" type="number" step=0.01 value="" name="ang_tang_max">
                    </td>
                    <td>mm/seg</td>
                </tr>
                <tr>
                    <td>tiempo_de_ciclo</td>
                    <td>Descripcion</td>
                    <td>
                        <input class="form-control-xs" type="number" step=0.01 value="" name="z_obj_coeficiente">
                    </td>
                    <td>seg</td>
                </tr>
                <tr>
                    <td>torque_tolerado</td>
                    <td>Descripcion</td>
                    <td>
                        <input class="form-control-xs" type="number" step=0.01 value="" name="z_delta_factor_aplicado">
                    </td>
                    <td>Nm</td>
                </tr>
                <tr>
                    <td>t_inicio_soluble</td>
                    <td>Descripcion</td>
                    <td>
                        <input class="form-control-xs" type="number" step=0.01 value="" name="cedencia_cte_restada">
                    </td>
                    <td>seg</td>
                </tr>
                <!--<tr>
                    <td>plus_cedencia_factor_iteracion</td>
                    <td>Factor que aplica a la deformación obtenida para iniciar plus cedencia</td>
                    <td>
                        <input class="form-control-xs" type="number" step=0.001 value="" name="plus_cedencia_factor_iteracion">
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>plus_cedencia_delta_aumento</td>
                    <td>Delta que aumenta la cedencia en cada intevalo dentro de plus cendencia</td>
                    <td>
                        <input class="form-control-xs" type="number" step=0.001 value="" name="plus_cedencia_delta_aumento">
                    </td>
                    <td>mm</td>
                </tr>
                <tr>
                    <td>plus_cedencia_trigger</td>
                    <td>Valor de cedencia que dispara la plus cedencia</td>
                    <td>
                        <input class="form-control-xs" type="number" step=0.001 value="" name="plus_cedencia_trigger">
                    </td>
                    <td>mm</td>
                </tr>-->
            </tbody>
        </table>
        <input type="submit" value="" class="d-none">
    </form>
</div>
<div class="row justify-content-center container-fluid">
    <div class="col-md-12 text-right justify-content-center">
        <a type="button" class="btn btn-secondary btn-lg" href="#/home">Volver</a>
    </div>
</div>