<div class="col-md-5 container-fluid float-left justify-content-around p-1 card"> 
    <form action="" method="post" id="parametrosCuchillas">
        <table class="table table-sm table-striped table-borderless" id="tablaParametrosCuchillas">
            <thead>
            <tr>
                <th colspan="4" style=" text-align: center; background-color: #52d5da; color: black; border-top-right-radius: 8px; border-top-left-radius: 8px;">
                CUCHILLAS
                </th>
            </tr>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Valor</th>
                <th>Unidad</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>c1_largo</td>
                <td>Largo - Modelo 1</td>
                <td>
                <input type="number" step=0.01 value="" name="c1_largo" />
                </td>
                <td>mm</td>
            </tr>
            <tr>
                <td>c1_apoyos</td>
                <td>Largo entre apoyos - Modelo 1</td>
                <td>
                <input type="number" step=0.01 value="" name="c1_apoyos" />
                </td>
                <td>mm</td>
            </tr>
            <tr>
                <td>c1_primer</td>
                <td>Primer posicion enderezado - Modelo 1</td>
                <td>
                <input type="number" step=0.01 value="" name="c1_primer" />
                </td>
                <td>mm</td>
            </tr>
            <tr>
                <td>c1_multiplo</td>
                <td>Múltiplo para enderezado - Modelo 1</td>
                <td>
                <input type="number" step=0.01 value="" name="c1_multiplo" />
                </td>
                <td>mm</td>
            </tr>
            <tr>
                <td>c1_pos_ini</td>
                <td>Posición inicial para escaneo - Modelo 1</td>
                <td>
                <input type="number" step=0.01 value="" name="c1_pos_ini" />
                </td>
                <td>mm</td>
            </tr>
            <tr>
                <td>c1_pos_fin</td>
                <td>Posición final para escaneo - Modelo 1</td>
                <td>
                <input type="number" step=0.01 value="" name="c1_pos_fin" />
                </td>
                <td>mm</td>
            </tr>
            <tr>
                <td>c2_largo</td>
                <td>Largo - Modelo 2</td>
                <td>
                <input type="number" step=0.01 value="" name="c2_largo" />
                </td>
                <td>mm</td>
            </tr>
            <tr>
                <td>c2_apoyos</td>
                <td>Largo entre apoyos - Modelo 2</td>
                <td>
                <input type="number" step=0.01 value="" name="c2_apoyos" />
                </td>
                <td>mm</td>
            </tr>
            <tr>
                <td>c2_primer</td>
                <td>Primer posicion enderezado - Modelo 2</td>
                <td>
                <input type="number" step=0.01 value="" name="c2_primer" />
                </td>
                <td>mm</td>
            </tr>
            <tr>
                <td>c2_multiplo</td>
                <td>Múltiplo para enderezado - Modelo 2</td>
                <td>
                <input type="number" step=0.01 value="" name="c2_multiplo" />
                </td>
                <td>mm</td>
            </tr>
            <tr>
                <td>c2_pos_ini</td>
                <td>Posición inicial para escaneo - Modelo 2</td>
                <td>
                <input type="number" step=0.01 value="" name="c2_pos_ini" />
                </td>
                <td>mm</td>
            </tr>
            <tr>
                <td>c2_pos_fin</td>
                <td>Posición final para escaneo - Modelo 2</td>
                <td>
                <input type="number" step=0.01 value="" name="c2_pos_fin" />
                </td>
                <td>mm</td>
            </tr>
            <tr>
                <td>c3_largo</td>
                <td>Largo - Modelo 3</td>
                <td>
                <input type="number" step=0.01 value="" name="c3_largo" />
                </td>
                <td>mm</td>
            </tr>
            <tr>
                <td>c3_apoyos</td>
                <td>Largo entre apoyos - Modelo 3</td>
                <td>
                <input type="number" step=0.01 value="" name="c3_apoyos" />
                </td>
                <td>mm</td>
            </tr>
            <tr>
                <td>c3_primer</td>
                <td>Primer posicion enderezado - Modelo 3</td>
                <td>
                <input type="number" step=0.01 value="" name="c3_primer" />
                </td>
                <td>mm</td>
            </tr>
            <tr>
                <td>c3_multiplo</td>
                <td>Múltiplo para enderezado - Modelo 3</td>
                <td>
                <input type="number" step=0.01 value="" name="c3_multiplo" />
                </td>
                <td>mm</td>
            </tr>
            <tr>
                <td>c3_pos_ini</td>
                <td>Posición inicial para escaneo - Modelo 3</td>
                <td>
                <input type="number" step=0.01 value="" name="c3_pos_ini" />
                </td>
                <td>mm</td>
            </tr>
            <tr>
                <td>c3_pos_fin</td>
                <td>Posición final para escaneo - Modelo 3</td>
                <td>
                <input type="number" step=0.01 value="" name="c3_pos_fin" />
                </td>
                <td>mm</td>
            </tr>
            </tbody>
        </table>
        <input type="submit" value="" class="d-none" />
    </form>
</div>

<div class="col-md-7 container-fluid float-left justify-content-around mb-5"> 
    <div class="card p-1 mb-3">
        <form action="" method="post" id="parametrosEjeVertical">
            <table class="table table-sm table-striped table-borderless" id="tablaParametrosEjeVertical">
                <thead>
                <tr>
                    <th colspan="4" style="text-align: center; background-color: #52d5da; color: black; border-top-right-radius: 8px; border-top-left-radius: 8px;">
                    EJE VERTICAL
                    </th>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Valor</th>
                    <th>Unidad</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>z_carga</td>
                    <td>Altura de carga de cuchillas</td>
                    <td>
                    <input type="number" step=0.01 value="" name="z_carga" />
                    </td>
                    <td>mm</td>
                </tr>
                <tr>
                    <td>z_cercana</td>
                    <td>Altura mas cercana a la cuchilla sin tocarla</td>
                    <td>
                    <input type="number" step=0.01 value="" name="z_cercana" />
                    </td>
                    <td>mm</td>
                </tr>
                <tr>
                    <td>z_presiona_palp</td>
                    <td>
                    Altura donde se presiona al palpador sin que la cuchilla
                    instalda toque los rodillos (ver P1)
                    </td>
                    <td>
                    <input type="number" step=0.01 value="" name="z_presiona_palp" />
                    </td>
                    <td>mm</td>
                </tr>
                <tr>
                    <td>z_vel_rapido</td>
                    <td>Velocidad del eje en movmimiento rapido</td>
                    <td>
                    <input type="number" step=0.01 value="" name="z_vel_rapido" />
                    </td>
                    <td>mm/s</td>
                </tr>
                <tr>
                    <td>z_vel_ingreso</td>
                    <td>Velocidad de movimiento ingreso</td>
                    <td>
                    <input type="number" step=0.01 value="" name="z_vel_ingreso" />
                    </td>
                    <td>mm/s</td>
                </tr>
                <tr>
                    <td>z_vel_precarga</td>
                    <td>Velocidad del eje en la precarga</td>
                    <td>
                    <input type="number" step=0.01 value="" name="z_vel_precarga" />
                    </td>
                    <td>mm/s</td>
                </tr>
                <tr>
                    <td>z_vel_ender</td>
                    <td>Velocidad del eje en el enderezado</td>
                    <td>
                    <input type="number" step=0.01 value="" name="z_vel_ender" />
                    </td>
                    <td>mm/s</td>
                </tr>
                </tbody>
            </table>
            <input type="submit" value="" class="d-none" />
        </form>
    </div>
    <div class="p-1 container-fluid card col-md-10 col-12 mx-auto my-5">
        <form action="" method="post" id="parametrosEnderezado">
            <table class="table table-sm table-striped table-borderless" id="tablaParametrosEnderezado">
                <thead>
                <tr>
                    <th colspan="4" style="text-align: center; background-color: #52d5da; color: black; border-top-right-radius: 8px; border-top-left-radius: 8px;">
                    ENDEREZADO
                    </th>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Valor</th>
                    <th>Unidad</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>end_p1_y</td>
                    <td>Valor de Y en el paso 1</td>
                    <td>
                    <input type="number" step=0.01 value="" name="end_p1_y" />
                    </td>
                    <td>mm/s</td>
                </tr>
                <tr>
                    <td>end_p2_y</td>
                    <td>Valor de Y en el paso 2</td>
                    <td>
                    <input type="number" step=0.01 value="" name="end_p2_y" />
                    </td>
                    <td>mm/s</td>
                </tr>
                <tr>
                    <td>end_p3_y</td>
                    <td>Valor de Y en el paso 3</td>
                    <td>
                    <input type="number" step=0.01 value="" name="end_p3_y" />
                    </td>
                    <td>mm/s</td>
                </tr>
                <tr>
                    <td>end_p4_y</td>
                    <td>Valor de Y en el paso 4</td>
                    <td>
                    <input type="number" step=0.01 value="" name="end_p4_y" />
                    </td>
                    <td>mm/s</td>
                </tr>
                </tbody>
            </table>
            <input type="submit" value="" class="d-none" />
        </form>
    </div>
    <div class="row justify-content-center container-fluid mt-5">
        <div class="col-md-12 col-12 text-right justify-content-center">
            <a type="button" class="btn btn-primary btn-lg" href="#/parametrosPagina1">Pagina 1</a>
            <a type="button" class="btn btn-secondary btn-lg" href="#/home">Volver</a>
        </div>
    </div>
</div>
